.nav-list
    font-size 16px
    color #FFFFFF

    &-item
        display inline-block
        margin-right 36px


        > a
            font-size 16px
            color #FFFFFF
            text-decoration none
            font-weight bold
            padding-bottom 8px
            border-bottom 2px solid transparent

            &:hover
                border-color #FF2C3E

        &.active
            > a
                border-color #FF2C3E
                color #FF2C3E
