/* You can add global styles to this file, and also import other style files */
body
    height 100vh
    width 100vw
    font-family "PingFang SC","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body, html, p, ul, ol, li, h1, h2, h3, h4, h5, h6
    margin 0
    padding 0

ul
    list-style none

#bg-container
    position absolute
    height 100vh
    width 100vw
    overflow hidden
    z-index -1

#bg
    min-width 100%
    min-height 100%
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
