<div
    class="research"
    [ngClass]="{
        'close': !openResearch
    }"
>
    <div class="research-content">
        最近A站更新了评论区导致插件不可用，现已修复，请更新到V2.2.0版本。
    </div>
    <div class="close-research" (click)="closeResearch()">关闭</div>
</div>
<div class="content">
    <section class="desc-block">
        <h1 class="title">AcFun CIP</h1>
        <p class="desc">AcFun Comment Instrumentality Project</p>
        <div class="downloads">
            <a class="download-button" href="https://addons.mozilla.org/en-US/firefox/addon/acfun-cip/" target="_blank">
                <img [src]="firefoxSvg" alt="Firefox" class="download-icon">
                <span>Firefox下载</span>
            </a>
            <a href="https://chrome.google.com/webstore/detail/completed-acfun/mhpjihcolfmanjipbiileobmpljepjod" target="_blank" class="download-button">
                <img [src]="chromeSvg" alt="Chrome" class="download-icon">
                <span>Chrome下载</span>
            </a>
        </div>
        <div class="tips">
            <div class="chrome-tip">
                <a [href]="crxSvg" download target="_blank">离线下载</a>
                <a href="https://www.williamlong.info/archives/3160.html" target="_blank">离线安装教程</a>
            </div>
        </div>
    </section>
    <section class="video-block">
        <video #myVideo [src]="video" loop="true" muted="true" controls preload="auto" [volume]="0"></video>
    </section>
</div>
