.content
    height 100vh
    display flex
    align-items center
    justify-content center

.desc-block
    display inline-block
    padding 0 16px
    margin-right 7%

    .title
        font-size 58px
        color #F95F67
        font-weight bold
        line-height 81px
        text-align center

    .desc
        margin-top 8px
        font-size 22px
        line-height 30px
        color #FB6471
        font-weight bold
        text-align center

    .downloads
        display flex
        justify-content center
        margin-top 40px

    .download-button
        display inline-flex
        height 52px
        line-height 52px
        width 200px
        background #fff
        font-size 20px
        color #333333
        box-shadow 0 0 5px 0 rgba(170,170,170,0.50)
        border-radius 26px
        justify-content  center
        align-items center
        cursor pointer
        text-decoration none

        &:first-child
            margin-right 20px

        .download-icon
            margin-right 8px

    .chrome-tip
        float right
        width 200px
        text-align center
        margin-top 8px

        > a
            font-size 14px
            color #FFFFFF
            text-decoration none

            &:hover
                text-decoration underline

            &:first-child
                margin-right 16px


.video-block
    display inline-block

    > video
        width 620px
        height auto
