:host
    width 100%
    cursor pointer
    box-sizing border-box
    border none
    padding 0
    outline none
    background transparent
    cursor pointer
    color #fff

    &.shrink
        display inline-block

    &.large
        height 40px
        line-height 40px
        font-size 16px

        &.shrink
            padding 0 16px

    &.primary
        background #FD4C5B

        &:hover
            background #FF2235

    &.secondary
        background #FFA927
        color #fff

        &:hover
            background #ff9a00

    &.disabled
        color #CCCCCC
        background #EEEEEE
        cursor not-allowed
