:host
    width 100%
    cursor pointer
    box-sizing border-box
    border none
    padding 0
    outline none
    background transparent
    cursor pointer
    color #fff

    &.shrink
        display inline-block

    &.large
        height 40px
        line-height 40px
        font-size 16px

        &.shrink
            .container
                padding 0 16px

    &.primary
        background #FD4C5B

        &:hover
            background #FF2235

    &.secondary
        background #FFA927
        color #fff

        &:hover
            background #ff9a00

    &.disabled
        color #CCCCCC
        background #EEEEEE
        cursor not-allowed

.container
    height 100%
    display flex
    align-items center
    justify-content center

    &.loading
        background rgba(255, 255, 255, 0.3)

    .icon-box
        display inline-block
        margin-right 12px

    .loading-icon
        height 18px
        width 18px
        animation 0.7s linear 0s infinite loading-animation


@keyframes loading-animation
    from
        transform rotateZ(0)
    to
        transform rotateZ(360deg)
