<div class="wrapper">
    <div
        class="container"
        [ngClass]="{
            'show-result': hasResult
        }"
    >
        <div class="search-block">
            <div class="search-box">
                <input
                    #userIdInput
                    class="user-id-input"
                    ac-input
                    ac-size="large"
                    placeholder="请输入要查询的用户ID"
                />
                <button
                    class="submit-button"
                    ac-button
                    [ac-loading]="searching"
                    [ac-shrink]="true"
                    [ac-width]="120"
                    ac-size="large"
                    (click)="onSearch(userIdInput)"
                >
                    查询
                </button>
            </div>
            <div class="search-tip" *ngIf="false">
                <a href="" target="_blank">如何获取用户ID?</a>
            </div>
        </div>
        <div class="search-result" *ngIf="hasResult && result.contentCount > 0">
            <div class="result-info">查询到在{{result.contentCount}}个内容下面留言，共{{result.commentCount}}条评论</div>
            <div class="search-result-content">
                <cip-query-comment-result-item
                    *ngFor="let content of contents; trackBy: trackContentBy"
                    [content]="content"
                    [comments]="contentIdToComments[content.id] || []"
                >
                </cip-query-comment-result-item>
                <div
                    class="load-more-comments"
                    *ngIf="result.contentCount > contents.length"
                    (click)="loadMore()"
                >
                    {{loadingMore ? '加载中...' : '加载更多'}}
                </div>
            </div>
        </div>
        <div class="no-result" *ngIf="hasResult && result.contentCount === 0">
            暂无此用户记录
        </div>
    </div>
</div>
