<div class="wrapper">
    <div
        class="container"
        [ngClass]="{
            'show-result': hasResult
        }"
    >
        <div class="search-block">
            <div class="search-box">
                <input
                    class="user-id-input"
                    ac-input
                    ac-size="large"
                    placeholder="请输入要查询的用户ID"
                />
                <button
                    class="submit-button"
                    ac-button
                    [ac-shrink]="true"
                    [ac-width]="120"
                    ac-size="large"
                    (click)="toggle()"
                >
                    查询
                </button>
            </div>
            <div class="search-tip">
                <a href="" target="_blank">如何获取用户ID?</a>
            </div>
        </div>
        <div class="search-result">
            <div class="result-info">查询到在12个内容下面留言，共45条评论</div>
            <div class="search-result-content">
                <cip-query-comment-result-item></cip-query-comment-result-item>
                <cip-query-comment-result-item></cip-query-comment-result-item>
                <cip-query-comment-result-item></cip-query-comment-result-item>
                <cip-query-comment-result-item></cip-query-comment-result-item>
                <cip-query-comment-result-item></cip-query-comment-result-item>
                <cip-query-comment-result-item></cip-query-comment-result-item>
            </div>
        </div>
    </div>
</div>
