.wrapper
    height 100vh
    display flex
    justify-content center
    align-items center
    flex-wrap wrap

.container
    &.show-result
        height 100vh
        display flex
        flex-direction column

        .search-block
            margin-top 108px
            flex 0 0 auto

        .search-result
            flex 1 1 0
            overflow hidden

.search-block
    width 670px

    .search-box
        display flex

        .user-id-input
            flex 0 0 auto
            width 540px
            margin-right 10px

    .search-tip
        margin-top 10px

        > a
            font-size 12px
            color #FFFFFF
            text-decoration none

            &:hover
                text-decoration underline

.search-result
    width 100%
    margin-top 42px
    display flex
    flex-direction column

    .result-info
        font-size 16px
        color #FFFFFF
        flex 0 0 auto
        padding-bottom 12px

    .search-result-content
        width 670px
        flex 1 1 0
        overflow-y scroll

.no-result
    margin-top 42px
    font-weight bold
    background #fff
    height 145px
    font-size 16px
    line-height 145px
    color: #333
    text-align center



