.message-box
    text-align center
    margin-top 16px

.message
    font-size 14px
    background #fff
    color #333
    padding 0 16px
    height 40px
    box-shadow 0 4px 12px rgba(0,0,0,.15)
    display inline-flex
    align-items center

    .icon
        margin-right 6px
        height 16px

        > svg
            height 100%

    .content
        line-height 1

