<div class="forget-password-box">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <h1 class="title">忘记密码</h1>
        <ac-form-field>
            <input
                placeholder="请输入邮箱"
                ac-input
                ac-size="large"
                formControlName="email"
                (blur)="checkEmailRegistered()"
            />
            <ac-form-field-error *ngIf="resetPasswordForm.get('email').dirty">
                <span *ngIf="resetPasswordForm.get('email').hasError('required')">请输入邮件</span>
                <span *ngIf="resetPasswordForm.get('email').hasError('email')">请输入合法的邮件格式</span>
                <span *ngIf="resetPasswordForm.get('email').hasError('unRegistered')">该邮箱未注册</span>
            </ac-form-field-error>
        </ac-form-field>
        <ac-form-field>
            <div class="verify-code-row">
                <input
                    class="verify-code-input"
                    placeholder="请输入验证码"
                    ac-input
                    ac-size="large"
                    formControlName="verifyCode"
                />
                <button
                    class="send-verify-code-button"
                    type="button"
                    ac-button
                    ac-size="large"
                    ac-type="secondary"
                    (click)="sendCode()"
                >
                    {{verifyCodeButtonTip}}
                </button>
            </div>
            <ac-form-field-error *ngIf="resetPasswordForm.get('verifyCode').dirty">
                <span *ngIf="resetPasswordForm.get('verifyCode').hasError('required')">请输入验证码</span>
            </ac-form-field-error>
        </ac-form-field>
        <ac-form-field>
            <input
                placeholder="请输入新密码"
                type="password"
                ac-input
                ac-size="large"
                formControlName="password"
            />
            <ac-form-field-error *ngIf="resetPasswordForm.get('password').dirty">
                <span *ngIf="resetPasswordForm.get('password').hasError('required')">请输入新密码</span>
                <span *ngIf="resetPasswordForm.get('password').hasError('minlength')">请输入至8位密码</span>
            </ac-form-field-error>
        </ac-form-field>
        <ac-form-field>
            <input
                placeholder="确认密码"
                type="password"
                ac-input
                ac-size="large"
                formControlName="confirmPassword"
            />
            <ac-form-field-error *ngIf="resetPasswordForm.get('confirmPassword').dirty">
                <span *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">请输入确认密码</span>
                <span *ngIf="resetPasswordForm.get('confirmPassword').hasError('notSame')">两次输入的密码不一致</span>
            </ac-form-field-error>
        </ac-form-field>
        <ac-form-field>
            <div class="submit-button">
                <button
                    ac-button
                    type="submit"
                    ac-size="large"
                >提交
                </button>
            </div>
        </ac-form-field>
    </form>
    <div class="links">
        <a routerLink="/login" class="to-login">返回登录</a>
    </div>
</div>
