.forget-password-box
    width 460px
    background #FFFFFF
    box-shadow 0 0 4px 0 #EEEEEE
    padding 56px 24px
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)

.title
    font-size 18px
    color #333333
    text-align center
    margin-bottom 40px

::ng-deep
    .ac-form-field
        margin-top 24px

.verify-code-row
    display flex

    .verify-code-input
        flex 1 1 0

    .send-verify-code-button
        width 148px
        margin-left 8px


.submit-button
    margin-top 32px

.links
    margin-top 16px

    .to-login
        float right
        font-size 14px
        color #333333
        text-decoration none

        &:hover
            text-decoration underline
