<div class="regist-box">
    <h1 class="title">注册</h1>
    <ac-form-field>
        <input
            placeholder="请输入邮箱"
            ac-input
            ac-size="large"
        />
    </ac-form-field>
    <ac-form-field>
        <div class="verify-code-row">
            <input
                class="verify-code-input"
                placeholder="请输入验证码"
                ac-input
                ac-size="large"
            />
            <button
                class="send-verify-code-button"
                ac-button
                ac-size="large"
                ac-type="secondary"
            >
                发送验证码
            </button>
        </div>
    </ac-form-field>
    <ac-form-field>
        <input
            placeholder="请输入密码"
            ac-input
            ac-size="large"
        />
    </ac-form-field>
    <ac-form-field>
        <input
            placeholder="确认密码"
            ac-input
            ac-size="large"
        />
    </ac-form-field>
    <ac-form-field>
        <div class="submit-button">
            <button
                ac-size="large"
            >提交</button>
        </div>
    </ac-form-field>
    <div class="links">
        <a routerLink="/login" class="to-login">返回登录</a>
    </div>
</div>
